:root {
  --c-white: #ffffff;

  --c-grey: #ababab;

  --c-black: rgb(39, 43, 51);;

  --c-orange: #f08d49;
  --c-blue: #2196f3;

  --c-red: #d63d2e;

  --c-green: #55cc44;

  --c-text-light-1: var(--c-black);
  --c-text-light-2: #2a2a2a;
  --c-text-light-3: #202329;
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: #f5f5f5;
  --c-text-dark-3: #9e9e9e;
}

:root {
  --color-background: var(--c-black);

  --color-text: var(--c-text-dark-2);

  --color-text-selection: var(--c-orange);
  --background-text-selection: var(--c-black);

  --color-status-success: var(--c-green);

  --color-status-error: var(--c-red);
}